{% extends "point_de_vente/base_vente.html" %}
{% load staticfiles%}
{% block content %}


        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3> Commandes </h3>
              </div>

              
            </div>

            <div class="clearfix"></div>

            <div class="row">
             

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
  
               
                  <div class="x_content">
                  

                    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-align-left"></i> Les commandes non traitées </h2>
                   
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">












{% for com in all %}





                    <!-- start accordion -->
                    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                      <div class="panel">
    
<div class="panel-heading"  >
                        <a class="panel-heading" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne" style="display: inline;" >
                          <h4 class="panel-title" >
                         
   

                            <h4 style="display: inline;">nom: <i style="color: black;">{{com.id_user.username}}</i>&nbsp;&nbsp;&nbsp;
                            tel: <i style="color: black;">{{com.id_user.telephone_user}}</i>&nbsp;&nbsp;
                            adresse: <i style="color: black;">{{com.id_user.adresse_user}}</i>&nbsp;&nbsp;
                            type: <i style="color: black;">{{com.id_user.type_sp}}</i>

                          </h4 >

             
               
                          </h4>
              </a>
                                  <form method="POST" action="" >
     {% csrf_token %}
    <input type="hidden"  name="idCommande" value="{{com.id}}">
<input type="submit" class="btn btn-round btn-success" name="valider"  value="valider" style="margin-left: 80%; margin-top: -3%;">
<input type="submit" class="btn btn-round btn-danger" name="suprimer" value="suprimer" style="margin-top: -3%;">
</form>
<form method="POST" action="{% url 'commande:hassand' %}" style="display:inline; display:inline-block;">
  {% csrf_token %}
  <input type="hidden" name="commid" value="{{com.id}}">
 
  <input type="submit" value="imprimer bon de commande" class="btn btn-primary btn-block" style="padding:3px;font-size: 12px;display:inline;">

</form></div>
          
                        <div id="collapseOne{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>reference de produit</th>
                                  <th>Produit</th>
                                  <th>Quantite</th>
                                  <th>Prix Unitaire</th>
                                  
                                </tr>
                              </thead>
                              <tbody>
                                {% for co in com.ligne_commande_set.all%}
                                <tr>
                                  <th scope="row">{{ forloop.counter }}</th>
                                  <td>{{co.id_produit.reference_produit}}</td>
                                  <td>{{co.id_produit.nom_produit}}</td>
                                  <td>{{co.quantite}}</td>
                                  <td>{{co.id_produit.prix_produit}}</td>
                                  
                                </tr>
                                {% endfor %}
                               
                                  
                              </tbody>
                            </table>
                          </div>
                        </div>

                      </div>

                    </div>
                    <!-- end of accordion -->








{% endfor %}








                  </div>
                </div>
              </div>

                    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
                  </div>
                  


                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->


{%endblock%}