{% extends "point_de_vente/base_vente.html" %}
{% load staticfiles%}
{% block content %}


        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Commandes </h3>
              </div>

              
            </div>

            <div class="clearfix"></div>

            <div class="row">
             

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
  
               
                  <div class="x_content">
                   
                    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-align-left"></i> Commandes en traitement</h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">












{% for com in all %}





                    <!-- start accordion -->
                    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                      <div class="panel">
                        <a class="panel-heading" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">
                            <h4>nom: <i style="color: black;">{{com.id_user.username}}</i>&nbsp;&nbsp;&nbsp;
                            tel: <i style="color: black;">{{com.id_user.telephone_user}}</i>&nbsp;&nbsp;
                            adresse: <i style="color: black;">{{com.id_user.adresse_user}}</i>&nbsp;&nbsp;
                            type: <i style="color: black;">{{com.id_user.type_sp}}</i>

                          </h4>
              </a>
              <form method="POST" action="{% url 'commande:hassand' %}" style="display:inline; display:inline-block;">
                  {% csrf_token %}
                  <input type="hidden" name="commid" value="{{com.id}}">
                 
                  <input type="submit" value="imprimer bon de commande" class="btn btn-primary btn-block" style="padding:3px;font-size: 12px;display:inline;">
                
                </form>
          
                        <div id="collapseOne{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <table class="table table-striped">
                              <thead>   


                                <tr>
                                  <th>#</th>
                                  <th>reference de produit</th>
                                  <th>Produit</th>
                                  <th>Quantite</th>
                                  
                                </tr>
                              </thead>
                              <tbody>
                                {% for co in com.ligne_commande_set.all%}
                                <tr>
                                  <th scope="row">{{ forloop.counter }}</th>
                                  <td>{{co.id_produit.reference_produit}}</td>
                                  <td>{{co.id_produit.nom_produit}}</td>
                                  <td>{{co.quantite}}</td>
                                  
                                </tr>
                                {% endfor %}
                                                           <form method="POST" action="" enctype="multipart/form-data">
                                 {% csrf_token %}
                                            <tr>
                                              <th>
                                                <!--<input type="checkbox" value="val" name="validite">-->

                                               <input type="radio" name="validite" value="valider" required onChange='onChange(true)'> valider<br>
                                                <input type="radio" name="validite" value="annuler" onChange='onChange(false)'> annuler<br>


                                              </th>
                                  <th><input type="hidden" name="idCommande" value="{{com.id}}"></th>
                                  <th><label>bon de livraison</label>
                                    <input type="file" id="yot" name="bonlevrai" /></th>
                                  <th><label>note</label><br>
                                    <textarea name="note" required ></textarea></th>
                                  <th><input type="submit" class="btn btn-round btn-success" value="terminer"></th>
                                  
                                </tr>
                            </form>

                                  
                              </tbody>
                            </table>
                          </div>
                        </div>

                      </div>

                    </div>
                    <!-- end of accordion -->








{% endfor %}


<script>
function onChange(required) {
  document.getElementById('yot').required = required;
}  
</script>







                  </div>
                </div>
              </div>

                    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
                  </div>
                  


                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->


{%endblock%}