{% extends "produit/base.html" %}

{% load humanize %}
{% block content %}

{%if request.session.lang == "fr" %}


<div class="row content">
    <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="breadcrumbs">
                    
                        <p><a >Home</a> <i class="icons icon-right-dir"></i> <a>Produits favoris</a></p>

                      
                    </div>
                </div>

				<!-- Main Content -->
				<section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
					
             
                    
                    
                    <div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	
                            <table class="wishlist-table">
                            	
                                <tr>
                                	<th class="wishlist-image">Image produit</th>
                                    <th>Titre/Categorie</th>
                                    <th>Prix</th>
                                    <th>Action</th>
                                </tr>
                                

                        {% for produit in all %}





                                <tr>
                                	<td class="wishlist-image">
                                        {% for item in produit.id_produit.imageproduit_set.all|slice:"1" %}
                                    	<a onclick="myPopup('{{MEDIA_URL}}{{item.image.url}}','{{produit.id_produit.nom_produit}}');" style="cursor: pointer;"><img src="{{MEDIA_URL}}{{item.image.url}}" alt="Product1"></a>
                                        {% endfor %}
                                    </td>
                                    <td class="wishlist-info">
                                    	<h5><a href="/produit/{{produit.id_produit.id}}/">{{produit.id_produit.nom_produit}}</a></h5>
                                        <span class="product-category"><a href="{% url 'produit:rechCatigo' %}?rech={{produit.id_produit.categorie_produit}}">{{produit.id_produit.categorie_produit}}</a></span>
										<div class="rating readonly-rating" data-score="4"></div>
                                    </td>
                                    <td class="wishlist-price">
                                    	<span class="price">{{produit.id_produit.prix_produit}} DA</span>
                                    </td>
                                    <td class="wishlist-actions">
                                    
                                   
                                        <a style="cursor: pointer;">
                                            <span class="add-to-cart">
                                                <span class="action-wrapper">
                                                       <i class="icons icon-basket-2"></i>
                                               
                                                        <span class="action-name" onclick="Apach('{{produit.id_produit.id}}','{{user.id}}')" >Add to cart</span>
                                                      
                                                </span>
                                            </span>
                                        </a>
                                        <form method="POST" action="{% url 'produit:suppWish' %}" >
                                            {%csrf_token%}
                                        <a >
                                            <span class="supsup">
                                                <span class="action-wrapper">
                                                    <i class="icons icon-trash-8"></i>
                                                    <input type="hidden" name="id_produit" value="{{produit.id_produit.id}}">
                                            <input type="hidden" name="id_user" value="{{user.id}}">
                                            <input type="submit" value="suprimer" class="action-name" style="background-color: #34495e!important;">
                                                    
                                                </span>
                                            </span>
                                            
                                    		
                                    	
                            
                                    </form>
                                        </a>
                                        
                                    </td>
                                </tr>


                                {% endfor %}










                                
                            </table>
                                                  <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="category-results">
                                <p>Page {{ all.number }} of {{ all.paginator.num_pages }}</p>
                                
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="pagination">
                                {% if all.has_previous %}
                                <a href="?id={{hass}}&page={{ all.previous_page_number }}"><div class="previous"><i class="icons icon-left-dir"></i></div></a>
                                 {% endif %}


                                 {% with ''|center:all.paginator.num_pages as range %}
                                  {% for i in range %}

                                 
                                <a href="?id={{hass}}&page={{ forloop.counter }}"><div class="page-button">{{ forloop.counter }}</div></a>
                                  {% endfor %}  
                                  {% endwith %} 
                                  {% if all.has_next %}                           
                                <a href="?id={{hass}}&page={{ all.next_page_number }}"><div class="next"><i class="icons icon-right-dir"></i></div></a>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                            
                        </div>
                        
                    </div>
                
                    
				</section>
				<!-- /Main Content -->
                            <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
  
</div>  
				

























































{%else%}

<div class="row content">
        <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="breadcrumbs">
                        
                            <p><a >الصفحة الرئيسية</a> <i class="icons icon-right-dir"></i> <a>المنتجات المفضلة</a></p>
    
                          
                        </div>
                    </div>
    
                    <!-- Main Content -->
                    <section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
                        
                 
                        
                        
                        <div class="row">
                            
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                
                                <table class="wishlist-table">
                                    
                                    <tr>
                                        <th class="wishlist-image">صورة المنتج</th>
                                        <th>العنوان / الفئة</th>
                                        <th>السعر</th>
                                        <th>عمل</th>
                                    </tr>
                                    
    
                            {% for produit in all %}
    
    
    
    
    
                                    <tr>
                                        <td class="wishlist-image">
                                            {% for item in produit.id_produit.imageproduit_set.all|slice:"1" %}
                                            <a onclick="myPopup('{{MEDIA_URL}}{{item.image.url}}','{{produit.id_produit.nom_produit_ar}}');" style="cursor: pointer;"><img src="{{MEDIA_URL}}{{item.image.url}}" alt="Product1"></a>
                                            {% endfor %}
                                        </td>
                                        <td class="wishlist-info">
                                            <h5><a href="/produit/{{produit.id_produit.id}}/">{{produit.id_produit.nom_produit_ar}}</a></h5>
                                            <span class="product-category"><a href="{% url 'produit:rechCatigo' %}?rech={{produit.id_produit.categorie_produit}}">{{produit.id_produit.categorie_produit}}</a></span>
                                            <div class="rating readonly-rating" data-score="4"></div>
                                        </td>
                                        <td class="wishlist-price">
                                            <span class="price">{{produit.id_produit.prix_produit|intcomma}} دج</span>
                                        </td>
                                        <td class="wishlist-actions">
                                        
                                       
                                            <a style="cursor: pointer;">
                                                <span class="add-to-cart">
                                                    <span class="action-wrapper">
                                                           <i class="icons icon-basket-2"></i>
                                                   
                                                            <span class="action-name" onclick="Apach('{{produit.id_produit.id}}','{{user.id}}')" >أضف إلى السلة</span>
                                                          
                                                    </span>
                                                </span>
                                            </a>
                                            <form method="POST" action="{% url 'produit:suppWish' %}" >
                                                {%csrf_token%}
                                            <a >
                                                <span class="supsup">
                                                    <span class="action-wrapper">
                                                        <i class="icons icon-trash-8"></i>
                                                        <input type="hidden" name="id_produit" value="{{produit.id_produit.id}}">
                                                <input type="hidden" name="id_user" value="{{user.id}}">
                                                <input type="submit" value="إزالة" class="action-name" style="background-color: #34495e!important;">
                                                        
                                                    </span>
                                                </span>
                                                
                                                
                                            
                                
                                        </form>
                                            </a>
                                            
                                        </td>
                                    </tr>
    
    
                                    {% endfor %}
    
    
    
    
    
    
    
    
    
    
                                    
                                </table>
                                                      <div class="row">
    
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="category-results">
                                    <p>Page {{ all.number }} of {{ all.paginator.num_pages }}</p>
                                    
                                </div>
                            </div>
    
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="pagination">
                                    {% if all.has_previous %}
                                    <a href="?id={{hass}}&page={{ all.previous_page_number }}"><div class="previous"><i class="icons icon-left-dir"></i></div></a>
                                     {% endif %}
    
    
                                     {% with ''|center:all.paginator.num_pages as range %}
                                      {% for i in range %}
    
                                     
                                    <a href="?id={{hass}}&page={{ forloop.counter }}"><div class="page-button">{{ forloop.counter }}</div></a>
                                      {% endfor %}  
                                      {% endwith %} 
                                      {% if all.has_next %}                           
                                    <a href="?id={{hass}}&page={{ all.next_page_number }}"><div class="next"><i class="icons icon-right-dir"></i></div></a>
                                    {% endif %}
                                </div>
                            </div>
    
                        </div>
                                
                            </div>
                            
                        </div>
                    
                        
                    </section>
                    <!-- /Main Content -->
                                <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
      
    </div>  
    
{%endif%}



{% endblock %}