{% extends "produit/base.html" %}
{% load staticfiles%}
{% load humanize %}
{% block content %}


<!-- debut francais-->
{% if request.session.lang == "fr" %}
			<!-- Content -->
			<div class="row content">

					<!-- Main Content -->
					<section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">

							<section class="slider">
								<div class="tp-banner-container">
									<div class="tp-banner" >
										<ul>
											<!-- SLIDE  -->
													{% for slid in slide %}
													 {% if slid.type == "slide" %}
											
											<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" >
												<!-- MAIN IMAGE -->
												<img src="{{MEDIA_URL}}{{slid.img.url}}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
												<!-- LAYERS -->
												<div class="tp-caption skewfromrightshort fadeout"
													data-x="40"
													data-y="270"
													data-speed="500"
													data-start="1200"
													style="background-color: white;"
													data-easing="Power4.easeOut"><h2><strong>&nbsp;{{slid.titre1}}&nbsp;</strong></h2>
												</div>
													<div class="tp-caption skewfromrightshort fadeout"
													data-x="40"
													data-y="360"
													data-speed="500"
													data-start="1200"
													style="background-color: white;"
													data-easing="Power4.easeOut"><h3 >&nbsp;{{slid.titre2}}&nbsp;</h3>
												</div>
												
											</li>
											{%endif%}
											 {% endfor %}
										
										</ul>
									</div>
								</div>
								</section>
			
			
			


					<!-- Featured Products -->
					<div class="products-row row">

						<!-- Carousel Heading -->
						<div class="col-lg-12 col-md-12 col-sm-12">

							<div class="carousel-heading">
								<h4>Nos produits</h4>
								<div class="carousel-arrows">
									<i class="icons icon-left-dir "></i>
									<i class="icons icon-right-dir"></i>
								</div>
							</div>

						</div>
						<!-- /Carousel Heading -->

						<!-- Carousel -->
						<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

							<div class="owl-carousel" data-max-items="3">

									<!-- Slide -->
									      {% for pro in all%}
									      <form onsubmit="return false;">
									<div>
										
										<!-- Carousel Item -->
										<div class="product col-xs-8 col-sm-12 col-md-12 col-lg-12">
                                                
											<div class="product-image">
                                                   {% for item in pro.imageproduit_set.all|slice:"1" %}
												<img src="{{MEDIA_URL}}{{item.image.url}}" alt="ProductImage" style="width: 270px; height: 270px; object-fit: cover;">

                                                       {% endfor %}
                                                       {% for item in pro.imageproduit_set.all|slice:"1" %}
												<a onclick="myPopup('{{MEDIA_URL}}{{item.image.url}}','{{pro.nom_produit}}');" class="product-hover" >
                                                   {% endfor %}

													<i class="icons icon-eye-1"></i> voir
												</a>
											</div>

											<div class="product-info" style="height:100px;">
												<h5><a href="/produit/{{pro.id}}/">{{pro.nom_produit}}</a></h5>
												<span class="price">{{pro.prix_produit|intcomma}} Dzd</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
                                       
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														{% if user.is_authenticated %}
														<span class="action-name" onclick="Apach('{{pro.id}}','{{user.id}}')" style="font-size: small;">Ajouter au panier</span>
														{% else %}
														<span class="action-name" onclick="swal('vous devez connecter!',{icon: 'error',})" style="font-size: small;">Ajouter au panier</span>
														{% endif %}
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
                                                        <i class="icons icon-heart-empty"></i>

                                                            {% if user.is_authenticated %}
                                                        <span class="action-name" onclick="addWish('{{pro.id}}','{{user.id}}')" style="font-size: small;">Ajouter au favori</span>
                                                        {% else %}
                                                        <span class="action-name" onclick="swal('vous devez connecter!',{icon: 'error',})" style="font-size: small;">Ajouter au favori</span>
                                                        {% endif %}
                                                    </span>
												</span>
												<span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
																	{% if user.is_authenticated %}
														<span class="action-name" onclick="addCompare('{{pro.id}}')" style="font-size: small;">Comparer</span>
														{% else %}
														<span class="action-name" onclick="swal('vous devez connecter!',{icon: 'error',})" style="font-size: small;">Comparer</span>
														{% endif %}
													</span>
												</span>
											</div>

										</div>
										<!-- /Carousel Item -->
									
									</div>







</form>
        {% endfor %}

				
							</div>
						</div>
						<!-- /Carousel -->

					</div>
					<!-- /Featured Products -->




					<!-- New Collection -->
					<div class="products-row row">

						<!-- Carousel Heading -->
						<div class="col-lg-12 col-md-12 col-sm-12">

							<div class="carousel-heading">
								<h4 >Nouveaux Produits</h4>
								<div class="carousel-arrows">
									<i class="icons icon-left-dir"></i>
									<i class="icons icon-right-dir"></i>
								</div>
							</div>

						</div>
						<!-- /Carousel Heading -->

						<!-- Carousel -->
						<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

							<div class="owl-carousel" data-max-items="3">
								{% for pro in date_ajout%}
                                  <form onsubmit="return false;">
									<!-- Slide -->
									<div>
										<!-- Carousel Item -->
										<div class="product col-xs-8 col-sm-12 col-md-12 col-lg-12">

											<div class="product-image">
												<span class="product-tag">Nouveau</span>
												{% for item in pro.imageproduit_set.all|slice:"1" %}
												<img src="{{MEDIA_URL}}{{item.image.url}}" alt="Product1" style="width: 270px; height: 270px; object-fit: cover;">
													<a onclick="myPopup('{{MEDIA_URL}}{{item.image.url}}','{{pro.nom_produit}}');" class="product-hover" >
												{% endfor %}
												
													<i class="icons icon-eye-1"></i> voir
												</a>
											</div>

											<div class="product-info" style="height:100px;">
												<h5><a href="/produit/{{pro.id}}/">{{pro.nom_produit}}</a></h5>
												<span class="price">{{pro.prix_produit|intcomma}} Dzd</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>

											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														{% if user.is_authenticated %}
														<span class="action-name" onclick="Apach('{{pro.id}}','{{user.id}}')" style="font-size: small;">Ajouter au panier</span>
														{% else %}
														<span class="action-name" onclick="swal('vous devez connecter!',{icon: 'error',})" style="font-size: small;">Ajouter au panier</span>
														{% endif %}
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														       {% if user.is_authenticated %}
                                                        <span class="action-name" onclick="addWish('{{pro.id}}','{{user.id}}')" style="font-size: small;">Ajouter au favori</span>
                                                        {% else %}
                                                        <span class="action-name" onclick="swal('vous devez connecter!',{icon: 'error',})" style="font-size: small;">Ajouter au favori</span>
                                                        {% endif %}
													</span>
												</span>
												<span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
																		{% if user.is_authenticated %}
														<span class="action-name" onclick="addCompare('{{pro.id}}')" style="font-size: small;">Comparer</span>
														{% else %}
														<span class="action-name" onclick="swal('vous devez connecter!',{icon: 'error',})" style="font-size: small;">Comparer</span>
														{% endif %}
													</span>
												</span>
											</div>

										</div>
										<!-- /Carousel Item -->
									</div>
									<!-- /Slide -->



</form>
        {% endfor %}

							</div>
						</div>
						<!-- /Carousel -->

					</div>
					<!-- /New Collection -->





					<!-- Random Products -->
					<div class="products-row row">

						<!-- Carousel Heading -->
						<div class="col-lg-12 col-md-12 col-sm-12">

							<div class="carousel-heading">
								<h4>Produit varier</h4>
								<div class="carousel-arrows">
									<i class="icons icon-left-dir"></i>
									<i class="icons icon-right-dir"></i>
								</div>
							</div>

						</div>
						<!-- /Carousel Heading -->

						<!-- Carousel -->
						<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

							<div class="owl-carousel" data-max-items="3">
							      {% for pro in random %}
									      <form onsubmit="return false;">
									<div>
										
										<!-- Carousel Item -->
										<div class="product col-xs-8 col-sm-12 col-md-12 col-lg-12">
                                                
											<div class="product-image">
                                                   {% for item in pro.imageproduit_set.all|slice:"1" %}
												<img src="{{MEDIA_URL}}{{item.image.url}}" alt="Product1" style="width: 270px; height: 270px; object-fit: cover;">

                                                       {% endfor %}
                                                       {% for item in pro.imageproduit_set.all|slice:"1" %}
												<a onclick="myPopup('{{MEDIA_URL}}{{item.image.url}}','{{pro.nom_produit}}');" class="product-hover" >
                                                   {% endfor %}

													<i class="icons icon-eye-1"></i> voir
												</a>
											</div>

											<div class="product-info" style="height:100px;">
												<h5><a href="/produit/{{pro.id}}/">{{pro.nom_produit}}</a></h5>
												<span class="price">{{pro.prix_produit|intcomma}} Dzd</span>
												<div class="rating readonly-rating" data-score="4"></div>
											</div>
                                       
											<div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														{% if user.is_authenticated %}
														<span class="action-name" onclick="Apach('{{pro.id}}','{{user.id}}')" style="font-size: small;">Ajouter au panier</span>
														{% else %}
														<span class="action-name" onclick="swal('vous devez connecter!',{icon: 'error',})" style="font-size: small;">Ajouter au panier</span>
														{% endif %}
													</span >
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
                                                        <i class="icons icon-heart-empty"></i>

                                                            {% if user.is_authenticated %}
                                                        <span class="action-name" onclick="addWish('{{pro.id}}','{{user.id}}')" style="font-size: small;">Ajouter au favori</span>
                                                        {% else %}
                                                        <span class="action-name" onclick="swal('vous devez connecter!',{icon: 'error',})" style="font-size: small;">Ajouter au favori</span>
                                                        {% endif %}
                                                    </span>
												</span>
												<span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
																	{% if user.is_authenticated %}
														<span class="action-name" onclick="addCompare('{{pro.id}}')" style="font-size: small;">Comparer</span>
														{% else %}
														<span class="action-name" onclick="swal('vous devez connecter!',{icon: 'error',})" style="font-size: small;">Comparer</span>
														{% endif %}
													</span>
												</span>
											</div>

										</div>
										<!-- /Carousel Item -->
									
									</div>







</form>
        {% endfor %}
							






							







							</div>
						</div>
						<!-- /Carousel -->

					</div>
					<!-- /Random Products -->



			
								<!-- Product Brands -->
								<div class="products-row row">
			
										<!-- Carousel Heading -->
										<div class="col-lg-12 col-md-12 col-sm-12">
				
											<div class="carousel-heading">
												<h4>   Nos points de vente    </h4>
												<div class="carousel-arrows">
													<i class="icons icon-left-dir"></i>
													<i class="icons icon-right-dir"></i>
												</div>
											</div>
				
										</div>
										<!-- /Carousel Heading -->
				
										<!-- Carousel -->
										<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
				
											<div class="owl-carousel" data-max-items="3">
				                                   {% for vn in imgvente %}
													<!-- Slide -->
													<div>
														<div class="product col-xs-8 col-sm-12 col-md-12 col-lg-12">
															<a href="#"><img src="{{MEDIA_URL}}{{vn.img.url}}" alt="rev_01.png"></a>
														</div>
													</div>
													<!-- /Slide -->
				                                 {%endfor%}



				
											</div>
				
										</div>
										<!-- /Carousel -->
				
									</div>
									<!-- /Product Brands -->
			
						</section>
						<!-- /Main Content -->




				<!-- fin francais-->















































<!--debu arab-->

{%else%}
		<!-- Content -->
		<div class="row content">

			<!-- Main Content -->
			<section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">

				<section class="slider">
					<div class="tp-banner-container">
						<div class="tp-banner" >
							<ul>
								<!-- SLIDE  -->
										{% for slid in slide %}
										 {% if slid.type == "slide" %}
										 <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" >
												<!-- MAIN IMAGE -->
												<img src="{{MEDIA_URL}}{{slid.img.url}}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
												<!-- LAYERS -->
												<div class="tp-caption skewfromrightshort fadeout"
													data-x="40"
													data-y="270"
													data-speed="500"
													data-start="1200"
													style="background-color: white;"
													data-easing="Power4.easeOut"><h2><strong>&nbsp;{{slid.titre1}}&nbsp;</strong></h2>
												</div>
													<div class="tp-caption skewfromrightshort fadeout"
													data-x="40"
													data-y="360"
													data-speed="500"
													data-start="1200"
													style="background-color: white;"
													data-easing="Power4.easeOut"><h3 >&nbsp;{{slid.titre2}}&nbsp;</h3>
												</div>
												
											</li>
								{%endif%}
								 {% endfor %}
							
							</ul>
						</div>
					</div>
				  </section>




				<!-- Featured Products -->
				<div class="products-row row">

					<!-- Carousel Heading -->
					<div class="col-lg-12 col-md-12 col-sm-12">

						<div class="carousel-heading">
							<h4>منتجاتنا</h4>
							<div class="carousel-arrows">
								<i class="icons icon-left-dir "></i>
								<i class="icons icon-right-dir"></i>
							</div>
						</div>

					</div>
					<!-- /Carousel Heading -->

					<!-- Carousel -->
					<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

						<div class="owl-carousel" data-max-items="3">

								<!-- Slide -->
									  {% for pro in all%}
									  <form onsubmit="return false;">
								<div>
									
									<!-- Carousel Item -->
									<div class="product col-xs-8 col-sm-12 col-md-12 col-lg-12"> 
											
										<div class="product-image">
											   {% for item in pro.imageproduit_set.all|slice:"1" %}
											<img src="{{MEDIA_URL}}{{item.image.url}}" alt="Product1" style="width: 270px; height: 270px; object-fit: cover;">

												   {% endfor %}
												   {% for item in pro.imageproduit_set.all|slice:"1" %}
											<a onclick="myPopup('{{MEDIA_URL}}{{item.image.url}}','{{pro.nom_produit}}');" class="product-hover" >
											   {% endfor %}

												<i class="icons icon-eye-1"></i> عرض سريع
											</a>
										</div>

										<div class="product-info" style="height:100px;">
											<h5><a href="/produit/{{pro.id}}/">{{pro.nom_produit_ar}}</a></h5>
											<span class="price">{{pro.prix_produit|intcomma}} دج</span>
											<div class="rating readonly-rating" data-score="4"></div>
										</div>
								   
										<div class="product-actions">
											<span class="add-to-cart">
												<span class="action-wrapper">
													<i class="icons icon-basket-2"></i>
													{% if user.is_authenticated %}
													<span class="action-name" onclick="Apach('{{pro.id}}','{{user.id}}')" >أضف إلى السلة</span>
													{% else %}
													<span class="action-name" onclick="swal('يجب عليك تسجيل دخولك أولا!',{icon: 'error',})" >أضف إلى السلة</span>
													{% endif %}
												</span >
											</span>
											<span class="add-to-favorites">
												<span class="action-wrapper">
													<i class="icons icon-heart-empty"></i>

														{% if user.is_authenticated %}
													<span class="action-name" onclick="addWish('{{pro.id}}','{{user.id}}')" >أضف إلى المفضلة</span>
													{% else %}
													<span class="action-name" onclick="swal('يجب عليك تسجيل دخولك أولا!',{icon: 'error',})" >أضف إلى المفضلة</span>
													{% endif %}
												</span>
											</span>
											<span class="add-to-compare">
												<span class="action-wrapper">
													<i class="icons icon-docs"></i>
																{% if user.is_authenticated %}
													<span class="action-name" onclick="addCompare('{{pro.id}}')" >أضف للمقارنة</span>
													{% else %}
													<span class="action-name" onclick="swal('يجب عليك تسجيل دخولك أولا!',{icon: 'error',})" >أضف للمقارنة</span>
													{% endif %}
												</span>
											</span>
										</div>

									</div>
									<!-- /Carousel Item -->
								
								</div>







</form>
	{% endfor %}

			
						</div>
					</div>
					<!-- /Carousel -->

				</div>
				<!-- /Featured Products -->




				<!-- New Collection -->
				<div class="products-row row">

					<!-- Carousel Heading -->
					<div class="col-lg-12 col-md-12 col-sm-12">

						<div class="carousel-heading">
							<h4>منتجات جديدة</h4>
							<div class="carousel-arrows">
								<i class="icons icon-left-dir"></i>
								<i class="icons icon-right-dir"></i>
							</div>
						</div>

					</div>
					<!-- /Carousel Heading -->

					<!-- Carousel -->
					<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

						<div class="owl-carousel" data-max-items="3">
							{% for pro in date_ajout%}
							  <form onsubmit="return false;">
								<!-- Slide -->
								<div>
									<!-- Carousel Item -->
									<div class="product col-xs-8 col-sm-12 col-md-12 col-lg-12">

										<div class="product-image">
											<span class="product-tag">جديد</span>
											{% for item in pro.imageproduit_set.all|slice:"1" %}
											<img src="{{MEDIA_URL}}{{item.image.url}}" alt="Product1" style="width: 270px; height: 270px; object-fit: cover;">
												<a onclick="myPopup('{{MEDIA_URL}}{{item.image.url}}','{{pro.nom_produit}}');" class="product-hover" >
											{% endfor %}
											
												<i class="icons icon-eye-1"></i>عرض سريع
											</a>
										</div>

										<div class="product-info" style="height:100px;">
											<h5><a href="/produit/{{pro.id}}/">{{pro.nom_produit_ar}}</a></h5>
											<span class="price">{{pro.prix_produit|intcomma}}</span>
											<div class="rating readonly-rating" data-score="4"></div>
										</div>

										<div class="product-actions">
											<span class="add-to-cart">
												<span class="action-wrapper">
													<i class="icons icon-basket-2"></i>
													{% if user.is_authenticated %}
													<span class="action-name" onclick="Apach('{{pro.id}}','{{user.id}}')" >أضف إلى السلة</span>
													{% else %}
													<span class="action-name" onclick="swal('يجب عليك تسجيل دخولك أولا!',{icon: 'error',})" >أضف إلى السلة</span>
													{% endif %}
												</span >
											</span>
											<span class="add-to-favorites">
												<span class="action-wrapper">
													<i class="icons icon-heart-empty"></i>
														   {% if user.is_authenticated %}
													<span class="action-name" onclick="addWish('{{pro.id}}','{{user.id}}')" >أضف إلى المفضلة</span>
													{% else %}
													<span class="action-name" onclick="swal('يجب عليك تسجيل دخولك أولا!',{icon: 'error',})" >أضف إلى المفضلة</span>
													{% endif %}
												</span>
											</span>
											<span class="add-to-compare">
												<span class="action-wrapper">
													<i class="icons icon-docs"></i>
																	{% if user.is_authenticated %}
													<span class="action-name" onclick="addCompare('{{pro.id}}')" >أضف للمقارنة</span>
													{% else %}
													<span class="action-name" onclick="swal('يجب عليك تسجيل دخولك أولا!',{icon: 'error',})" >أضف للمقارنة</span>
													{% endif %}
												</span>
											</span>
										</div>

									</div>
									<!-- /Carousel Item -->
								</div>
								<!-- /Slide -->



</form>
	{% endfor %}

						</div>
					</div>
					<!-- /Carousel -->

				</div>
				<!-- /New Collection -->





				<!-- Random Products -->
				<div class="products-row row">

					<!-- Carousel Heading -->
					<div class="col-lg-12 col-md-12 col-sm-12">

						<div class="carousel-heading">
							<h4>منتجات عشوائية</h4>
							<div class="carousel-arrows">
								<i class="icons icon-left-dir"></i>
								<i class="icons icon-right-dir"></i>
							</div>
						</div>

					</div>
					<!-- /Carousel Heading -->

					<!-- Carousel -->
					<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

						<div class="owl-carousel" data-max-items="3">
							  {% for pro in random %}
									  <form onsubmit="return false;">
								<div>
									
									<!-- Carousel Item -->
									<div class="product col-xs-8 col-sm-12 col-md-12 col-lg-12">
											
										<div class="product-image">
											   {% for item in pro.imageproduit_set.all|slice:"1" %}
											<img src="{{MEDIA_URL}}{{item.image.url}}" alt="Product1" style="width: 270px; height: 270px; object-fit: cover;">

												   {% endfor %}
												   {% for item in pro.imageproduit_set.all|slice:"1" %}
											<a onclick="myPopup('{{MEDIA_URL}}{{item.image.url}}','{{pro.nom_produit}}');" class="product-hover" >
											   {% endfor %}

												<i class="icons icon-eye-1"></i> عرض سريع
											</a>
										</div>

										<div class="product-info" style="height:100px;">
											<h5><a href="/produit/{{pro.id}}/">{{pro.nom_produit_ar}}</a></h5>
											<span class="price">{{pro.prix_produit|intcomma}} دج</span>
											<div class="rating readonly-rating" data-score="4"></div>
										</div>
								   
										<div class="product-actions">
											<span class="add-to-cart">
												<span class="action-wrapper">
													<i class="icons icon-basket-2"></i>
													{% if user.is_authenticated %}
													<span class="action-name" onclick="Apach('{{pro.id}}','{{user.id}}')" >أضف إلى السلة</span>
													{% else %}
													<span class="action-name" onclick="swal('يجب عليك تسجيل دخولك أولا!',{icon: 'error',})" >أضف إلى السلة</span>
													{% endif %}
												</span >
											</span>
											<span class="add-to-favorites">
												<span class="action-wrapper">
													<i class="icons icon-heart-empty"></i>

														{% if user.is_authenticated %}
													<span class="action-name" onclick="addWish('{{pro.id}}','{{user.id}}')" >أضف إلى المفضلة</span>
													{% else %}
													<span class="action-name" onclick="swal('يجب عليك تسجيل دخولك أولا!',{icon: 'error',})" >أضف إلى المفضلة</span>
													{% endif %}
												</span>
											</span>
											<span class="add-to-compare">
												<span class="action-wrapper">
													<i class="icons icon-docs"></i>
																{% if user.is_authenticated %}
													<span class="action-name" onclick="addCompare('{{pro.id}}')" >أضف للمقارنة</span>
													{% else %}
													<span class="action-name" onclick="swal('يجب عليك تسجيل دخولك أولا!',{icon: 'error',})" >أضف للمقارنة</span>
													{% endif %}
												</span>
											</span>
										</div>

									</div>
									<!-- /Carousel Item -->
								
								</div>







</form>
	{% endfor %}
						






						



							






						</div>
					</div>
					<!-- /Carousel -->

				</div>
				<!-- /Random Products -->




					<!-- Product Brands -->
					<div class="products-row row">

							<!-- Carousel Heading -->
							<div class="col-lg-12 col-md-12 col-sm-12">
	
								<div class="carousel-heading">
									<h4>نقاط البيع المعتمدة </h4>
									<div class="carousel-arrows">
										<i class="icons icon-left-dir"></i>
										<i class="icons icon-right-dir"></i>
									</div>
								</div>
	
							</div>
							<!-- /Carousel Heading -->
	
							<!-- Carousel -->
							<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">
	
								<div class="owl-carousel" data-max-items="3">
	
									{% for vn in imgvente %}
									<!-- Slide -->
									<div>
										<div class="product col-xs-8 col-sm-12 col-md-12 col-lg-12">
											<a href="#"><img src="{{MEDIA_URL}}{{vn.img.url}}" alt="rev_01.png"></a>
										</div>
									</div>
									<!-- /Slide -->
								 {%endfor%}


								 
								</div>
	
							</div>
							<!-- /Carousel -->
	
						</div>
						<!-- /Product Brands -->

			</section>
			<!-- /Main Content -->

{%endif%}


<!--fin arab-->











































{%endblock%}


{% block news_content  %}






<!--debut francais-->
{% if request.session.lang == "fr" %}
<!-- News -->
			<div class="products-row row">

				<!-- Carousel Heading -->
				<div class="col-lg-12 col-md-12 col-sm-12">

					<div class="carousel-heading">
						<h4>Dernières nouvelles &amp; Avis</h4>
						<div class="carousel-arrows">
							<i class="icons icon-left-dir"></i>
							<i class="icons icon-right-dir"></i>
						</div>
					</div>

				</div>
				<!-- /Carousel Heading -->


				<!-- Carousel -->
				<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

					<div class="owl-carousel" data-max-items="2">

             {% for b in blog|slice:"6" %}




						<!-- Slide -->
						<div>
							<!-- Carousel Item -->
							<article class="news">

								<div class="news-background">

									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 news-thumbnail">
											<a ><img src="{{MEDIA_URL}}{{b.img.url}}" alt="News1" style="
                                    
												height:300px;
												"></a>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 news-content">
											<h3><a href="{%url 'produit:blog_post' %}?bbg={{b.id}}">{{b.titre}}</a></h3>
											<span class="date"><i class="icons icon-clock-1"></i>{{b.date}}</span>
											 <p id="desc" style=" overflow-y: scroll;  width:260px; height: 220px;">
{{b.description|truncatechars:200}}...</p>


										</div>
									</div>

								</div>

							</article>
							<!-- /Carousel Item -->
						</div>
						<!-- /Slide -->


{% endfor %}


					</div>

				</div>
				<!-- /Carousel -->
			<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
  
</div>	

			</div>
			<!-- /News -->

			<script type="text/javascript">

				function addWish(s,t){
					
			   swal("Le produit est ajouter", {
					 icon: "success",
				   });
			   
							   $.ajax({
								   type: "POST",
			   
								   url : "{% url 'produit:addWish' %}",
								   dataType: "json",
								   async: true,
								   data:{
									   csrfmiddlewaretoken: '{{csrf_token}}',
									   id_produit : s,
									   id_user :t,
			   
			   
								   },
			   
							   });
						  
			   
			   
			   
						   }
			   
			   
				  
					 </script>
			   
				  <script type="text/javascript">
									 function addCompare(s){
														swal("Le produit est ajouter pour le comparer", {
					 icon: "success",
				   });
			   
							   $.ajax({
								   type: "POST",
			   
								   url : "{% url 'produit:addCompare' %}",
								   dataType: "json",
								   async: true,
								   data:{
									   csrfmiddlewaretoken: '{{csrf_token}}',
									   id_produit : s,
			   
			   
								   },
							   
							   });
						   }
					 </script>

<!--fin francais-->

















































<!--debut arab-->
{%else%}
<!-- News -->
<div class="products-row row">

	<!-- Carousel Heading -->
	<div class="col-lg-12 col-md-12 col-sm-12">

		<div class="carousel-heading">
			<h4>اخر الاخبار &amp; التعليقات</h4>
			<div class="carousel-arrows">
				<i class="icons icon-left-dir"></i>
				<i class="icons icon-right-dir"></i>
			</div>
		</div>

	</div>
	<!-- /Carousel Heading -->


	<!-- Carousel -->
	<div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

		<div class="owl-carousel" data-max-items="2">

 {% for b in blog|slice:"6" %}




			<!-- Slide -->
			<div>
				<!-- Carousel Item -->
				<article class="news">

					<div class="news-background">

						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 news-thumbnail">
								<a ><img src="{{MEDIA_URL}}{{b.img.url}}" alt="News1"  style="
                                    
									height:300px;
									"></a>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 news-content">
								<h5><a href="{%url 'produit:blog_post' %}?bbg={{b.id}}">{{b.titre}}</a></h5>
								<span class="date"><i class="icons icon-clock-1"></i>{{b.date}}</span>
								<p id="desc" style=" overflow-y: scroll;  width:260px; height: 220px;">
									{{b.description|truncatechars:200}}...</p>
							</div>
						</div>

					</div>

				</article>
				<!-- /Carousel Item -->
			</div>
			<!-- /Slide -->


{% endfor %}


		</div>

	</div>
	<!-- /Carousel -->
<div id="myModal" class="modal">
<span class="close">&times;</span>
<img class="modal-content" id="img01">
<div id="caption"></div>

</div>	

</div>
<!-- /News -->

<script type="text/javascript">

	function addWish(s,t){
		
   swal("تم اضافة المنتج", {
		 icon: "success",
	   });
   
				   $.ajax({
					   type: "POST",
   
					   url : "{% url 'produit:addWish' %}",
					   dataType: "json",
					   async: true,
					   data:{
						   csrfmiddlewaretoken: '{{csrf_token}}',
						   id_produit : s,
						   id_user :t,
   
   
					   },
   
				   });
			  
   
   
   
			   }
   
   
	  
		 </script>
   
	  <script type="text/javascript">
						 function addCompare(s){
											swal("تم اضافة المنتج للمقارنة", {
		 icon: "success",
	   });
   
				   $.ajax({
					   type: "POST",
   
					   url : "{% url 'produit:addCompare' %}",
					   dataType: "json",
					   async: true,
					   data:{
						   csrfmiddlewaretoken: '{{csrf_token}}',
						   id_produit : s,
   
   
					   },
				   
				   });
			   }
		 </script>
{%endif%}
<!--fin arab-->



















































{% endblock %}