
{% extends "produit/base.html" %}
{% block content %}
<!-- Main Content -->
<!-- Content -->
            <div class="row content">








<!-- debut fronsi -->

                    {% if request.session.lang == "fr" %}
                <section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
                    
                    
                 
                    
                
                    
                    
                    <div class="row">
                        
                        
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="carousel-heading">
                                <h4>Les commandes non traite</h4>
                            </div>
                            
                           <table class="orderinfo-table">
                            <thead>
                              <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Remarque</th>
                                    <th>Wilaya de levraison</th>
                                    <th>info vente</th>
                                    <th>Action</th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                  {% for com in non_trt %}
                                  <form method="POST" action="{% url 'commande:hassand' %}">
                                    {% csrf_token %}
                                <tr>
                                  <td> {{com.id}} </td>
                                    <td>{{com.date_commande}}</td>
                                    <td>Non encors traité par le point de vente  <strong>{{com.id_point_vente.first_name}}</strong> </td>
                                    <td>{{com.id_user.wilaya_user}}</td>
                                    <td><span id="show"  onclick ="showRow('id_tr1{{ forloop.counter }}');" ><a >Pour plus d'informations contacter le point de vente</a></span></td>
                                    <input type="hidden" name="commid" value="{{com.id}}">

                                    <td> <input type="submit" name="" value="Imprimer" > </td>
                          
                                </tr>
                                </form> <!-- hna nafichiw tlf o fax ta3 vente ta3 vente   -->
                                <tr id="id_tr1{{ forloop.counter }}" style="display:none;">
                                    <td colspan="4" >
                                        <p >telephon: 
                                    {{com.id_point_vente.telephone_user}}
                                    fax:
                                     {{com.id_point_vente.fax_user}}
                                  telephon portable: 
                                      {{com.id_point_vente.telephone_portable_user}}</p>
                                  </td>
                                </tr>
                               



                                {% endfor %}






</tbody>


                            </table>
                      


                        </div>










                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="carousel-heading">
                                <h4>Les commande en coure de traitement</h4>
                            </div>
                            
                           <table class="orderinfo-table">
                             <thead>
                              <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Remarque</th>
                                    <th>Wilaya de levraison</th>
                                    <th>info vente</th>
                                    <th>Action</th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                  {% for com in trt %}
                                  <form method="POST" action="{% url 'commande:hassand' %}">
                                    {% csrf_token %}
                                <tr>
                                  <td> {{com.id}} </td>
                                    <td>{{com.date_commande}}</td>
                                    <td>Commande traité par le point de vente  <strong><strong>{{com.id_point_vente.first_name}}</strong></strong> en attente de livraison des produits</td>

                                    <td>{{com.id_user.wilaya_user}}</td>
                                    <td><span id="show"  onclick ="showRow('id_tr{{ forloop.counter }}');" ><a >Pour plus d'informations contacter le point de vente</a></span></td>
                                    <input type="hidden" name="commid" value="{{com.id}}">

                                    <td> <input type="submit" name="" value="Imprimer" > </td>
                          
                                </tr>
                                 </form>
                                <!-- hna nafichiw tlf o fax ta3 vente ta3 vente   -->
                                <tr id="id_tr{{ forloop.counter }}" style="display:none;">
                                    <td colspan="4" >
                                        <p >telephon: 
                                    {{com.id_point_vente.telephone_user}}
                                    fax:
                                     {{com.id_point_vente.fax_user}}
                                  telephon portable: 
                                      {{com.id_point_vente.telephone_portable_user}}</p>
                                  </td>
                                </tr>
                               



                                {% endfor %}







</tbody>

                            </table>
                      


                        </div>






































                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="carousel-heading">
                                <h4>Les commandes annuler</h4>
                            </div>
                            
                           <table class="orderinfo-table">
 <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Remarque</th>
                                    <th>Wilaya de levraison</th>
                                    <th>info vente</th>
                                    <th>Action</th>
                                </tr>
                                
                            </thead>
<tbody>
                                  {% for com in supp %}
                                  <form method="POST" action="{% url 'commande:hassand' %}">
                                    {% csrf_token %}
                                 <tr>
                                  <td> {{com.id}} </td>
                                    <td>{{com.date_commande}}</td>
                                    <td>Commande annulé par le point de vente <strong>{{com.id_point_vente.first_name}}</strong> pour la cause: {{com.note_dannulation}}</td>
                                    <td>{{com.id_user.wilaya_user}}</td>
                                    <td><span id="show"  onclick ="showRow('id_tr2{{ forloop.counter }}');" ><a >Pour plus d'informations contacter le point de vente</a></span></td>
                                    <input type="hidden" name="commid" value="{{com.id}}">

                                    <td> <input type="submit" name="" value="Imprimer" > </td>
                          
                                </tr>
                                </form>
                                  <tr id="id_tr2{{ forloop.counter }}" style="display:none;">
                                    <td colspan="4" >
                                        <p >telephon: 
                                    {{com.id_point_vente.telephone_user}}
                                    fax:
                                     {{com.id_point_vente.fax_user}}
                                  telephon portable: 
                                      {{com.id_point_vente.telephone_portable_user}}</p>
                                  </td>
                                </tr>



                                {% endfor %}





</tbody>



                            </table>
                      


                        </div>







































                        <div class="col-lg-12 col-md-12 col-sm-12">
                            
                            <div class="carousel-heading">
                                <h4>les commande valider</h4>
                            </div>
                            
                           <table class="orderinfo-table">
<thead>
                              <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Remarque</th>
                                    <th>Wilaya de levraison</th>
                                    <th>info vente</th>
                                    <th>Action</th>
                                </tr>
                                
                            </thead>
                            <tbody>

                                  {% for com in val %}
                                  <form method="POST" action="{% url 'commande:hassand' %}">
                                    {% csrf_token %}
                                  <tr>
                                  <td> {{com.id}} </td>
                                    <td>{{com.date_commande}}</td>
                                    <td>Commande validé et livraison des produits validés par le point de vente  <strong>{{com.id_point_vente.first_name}}</strong></td>
                                    <td>{{com.id_user.wilaya_user}}</td>
                                    <td><span id="show"  onclick ="showRow('id_tr3{{ forloop.counter }}');" ><a >Pour plus d'informations contacter le point de vente</a></span></td>
                                    <input type="hidden" name="commid" value="{{com.id}}">

                                    <td> <input type="submit" name="" value="Imprimer" > </td>
                          
                                </tr>
                                </form>
                                 <tr id="id_tr3{{ forloop.counter }}" style="display:none;">
                                    <td colspan="4" >
                                        <p >telephon: 
                                    {{com.id_point_vente.telephone_user}}
                                    fax:
                                     {{com.id_point_vente.fax_user}}
                                  telephon portable: 
                                      {{com.id_point_vente.telephone_portable_user}}</p>
                                  </td>
                                </tr>



                                {% endfor %}






</tbody>


                            </table>
                      


                        </div>


































                        
                    </div>
                    
                    
      

                    
                    
                    
                    
                        
                    
                </section>
                <!-- /Main Content -->
                <!-- fin fronsi -->







































































<!-- debut 3arbiya -->

{%else%}
<section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
                    
                    
                 
                    
                
                    
                    
        <div class="row">
            
            
            <div class="col-lg-12 col-md-12 col-sm-12">
                
                <div class="carousel-heading">
                    <h4>طلبات لم تتم معالجتها</h4>
                </div>
                
               <table class="orderinfo-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>تاريخ</th>
                        <th>ملاحظة</th>
                        <th>ولاية التسليم </th>
                         <th>عمل</th>
                        <th>عمل</th>
                    </tr>
                    
                </thead>
                <tbody>
                      {% for com in non_trt %}
                      <form method="POST" action="{% url 'commande:hassand' %}">
                        {% csrf_token %}
                    <tr>
                      <td> {{com.id}} </td>
                        <td>{{com.date_commande}}</td>
                        <td>لم تتم معالجتها بعد بواسطة نقطة البيع  <strong>{{com.id_point_vente.first_name}}</strong> </td>
                        <td>{{com.id_user.wilaya_user}}</td>
                                    <td><span id="show"  onclick ="showRow('id_tr13{{ forloop.counter }}');" ><a > لمزيد من المعلومات تواصل مع نقطة البيع</a></span></td>
                        <input type="hidden" name="commid" value="{{com.id}}">

                        <td> <input type="submit" name="" value="طباعة" > </td>
              
                    </tr>
                    </form>
                     <tr id="id_tr13{{ forloop.counter }}" style="display:none;">
                        <td colspan="4" >
                            <p >هاتف: 
                        {{com.id_point_vente.telephone_user}}
                        الفاكس:
                         {{com.id_point_vente.fax_user}}
                         الهاتف المحمول: 
                          {{com.id_point_vente.telephone_portable_user}}</p>
                      </td>
                                </tr>



                    {% endfor %}






</tbody>


                </table>
          


            </div>










            <div class="col-lg-12 col-md-12 col-sm-12">
                
                <div class="carousel-heading">
                    <h4>طلبات في طور المعالجة</h4>
                </div>
                
               <table class="orderinfo-table">
                 <thead>
                    <tr>
                            <th>Id</th>
                            <th>تاريخ</th>
                            <th>ملاحظة</th>
                            <th>ولاية التسليم </th>
                             <th>استفسار</th>
                            <th>عمل</th>
                    </tr>
                    
                </thead>
                <tbody>
                      {% for com in trt %}
                      <form method="POST" action="{% url 'commande:hassand' %}">
                        {% csrf_token %}
                    <tr>
                      <td> {{com.id}} </td>
                        <td>{{com.date_commande}}</td>
                        <td>طلب في طور المعالجة من طرف نقطة البيع <strong>{{com.id_point_vente.first_name}}</strong> في انتظار تسليم الطلبية</td>
                        <td>{{com.id_point_vente.wilaya_user}}</td>
                                <td><span id="show"  onclick ="showRow('id_tr17{{ forloop.counter }}');" ><a > لمزيد من المعلومات تواصل مع نقطة البيع</a></span></td>
                        <input type="hidden" name="commid" value="{{com.id}}">

                        <td> <input type="submit" name="" value="طباعة" > </td>
              
                    </tr>
                    </form>
                     <tr id="id_tr17{{ forloop.counter }}" style="display:none;">
                        <td colspan="4" >
                            <p >هاتف: 
                        {{com.id_point_vente.telephone_user}}
                        الفاكس:
                         {{com.id_point_vente.fax_user}}
                         الهاتف المحمول: 
                          {{com.id_point_vente.telephone_portable_user}}</p>
                      </td>
                                </tr>



                    {% endfor %}







</tbody>

                </table>
          


            </div>






































            <div class="col-lg-12 col-md-12 col-sm-12">
                
                <div class="carousel-heading">
                    <h4>الطلبات الملغية</h4>
                </div>
                
               <table class="orderinfo-table">
<thead>
                    <tr>
                            <th>Id</th>
                            <th>تاريخ</th>
                            <th>ملاحظة</th>
                            <th>ولاية التسليم </th>
                              <th>استفسار</th>
                            <th>عمل</th>
                    </tr>
                    
                </thead>
<tbody>
                      {% for com in supp %}
                      <form method="POST" action="{% url 'commande:hassand' %}">
                        {% csrf_token %}
                     <tr>
                      <td> {{com.id}} </td>
                        <td>{{com.date_commande}}</td>
                        <td>طلب ملغي من طرف نقطة البيع<strong>{{com.id_point_vente.first_name}}</strong> و السبب: {{com.note_dannulation}}</td>
                        <td>{{com.id_user.wilaya_user}}</td>
                                <td><span id="show"  onclick ="showRow('id_tr7{{ forloop.counter }}');" ><a > لمزيد من المعلومات تواصل مع نقطة البيع</a></span></td>
                        <input type="hidden" name="commid" value="{{com.id}}">

                        <td> <input type="submit" name="" value="طباعة" > </td>
              
                    </tr>
                    </form>
                          <tr id="id_tr7{{ forloop.counter }}" style="display:none;">
                            <td colspan="4" >
                                <p >هاتف: 
                            {{com.id_point_vente.telephone_user}}
                            الفاكس:
                             {{com.id_point_vente.fax_user}}
                             الهاتف المحمول: 
                              {{com.id_point_vente.telephone_portable_user}}</p>
                          </td>
                                </tr>



                    {% endfor %}





</tbody>



                </table>
          


            </div>







































            <div class="col-lg-12 col-md-12 col-sm-12">
                
                <div class="carousel-heading">
                    <h4>الطلبات المصادق عليها</h4>
                </div>
                
               <table class="orderinfo-table">
<thead>
                    <tr>
                            <th>Id</th>
                            <th>تاريخ</th>
                            <th>ملاحظة</th>
                            <th>ولاية التسليم </th>
                                 <th>استفسار</th>
                            <th>عمل</th>
                    </tr>
                    
                </thead>
                <tbody>

                      {% for com in val %}
                      <form method="POST" action="{% url 'commande:hassand' %}">
                        {% csrf_token %}
                      <tr>
                      <td> {{com.id}} </td>
                        <td>{{com.date_commande}}</td>
                        <td>طلب مصادق عليه من طرف نقطة البيع  <strong>{{com.id_point_vente.first_name}}</strong></td>
                        <td>{{com.id_user.wilaya_user}}</td>
                                <td><span id="show"  onclick ="showRow('id_tr5{{ forloop.counter }}');" ><a > لمزيد من المعلومات تواصل مع نقطة البيع</a></span></td>
                        <input type="hidden" name="commid" value="{{com.id}}">

                        <td> <input type="submit" name="" value="طباعة" > </td>
              
                    </tr>
                    </form>
                          <tr id="id_tr5{{ forloop.counter }}" style="display:none;">
                                    <td colspan="4" >
                                        <p >هاتف: 
                                    {{com.id_point_vente.telephone_user}}
                                    الفاكس:
                                     {{com.id_point_vente.fax_user}}
                                     الهاتف المحمول: 
                                      {{com.id_point_vente.telephone_portable_user}}</p>
                                  </td>
                                </tr>



                    {% endfor %}






</tbody>


                </table>
          


            </div>


































            
        </div>
        
        



        
        
        
        
            
        
    </section>
{%endif%}
<!-- fin 3arbiya -->
<script type="text/javascript">

    function showRow(id) {
   

          var row = document.getElementById(id);
      if (row.style.display == '') {
        row.style.display = 'none';
      }
      else {
         row.style.display = '';
      }
    }
</script>
{% endblock %}