<!DOCTYPE html>
<html>
<head>
		{% load staticfiles%}
	<title>Print Commande</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style type="text/css">
		.information{
			padding-left:15%;
			padding-top: 3%;
		}
		.infoclient{
			text-align: center;
			margin-bottom: 5%;
		}
		input[type="submit"]{
			margin-left: 45%;
	background:#1abc9c;
	padding: 8px;
	cursor: pointer;
	color: white;
	padding-left:45px; 
	padding-right:45px;
	border: none;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
		}
		input[type="submit"]:hover
		{
			background:#16a085;
		}

{% load humanize %}

	</style>
</head>
<body>
<header>
		{% for comi in com %}
	<br>	
		<img class="col-lg-6 col-md-6 col-sm-6 col-lg-push-3 col-md-push-3 col-sm-push-3" align="center" src="{% static 'img/lg.png' %}" alt="Logo" style="width: 300px; height: 100px">
<h1 style="text-align: center;">FACTURE N°: 00{{comi.id_point_vente.id}}{{comi.id}} </h1>
</header>
   <div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 information">
		<br>
				<span>Nom client:{{comi.id_user.username}}</span>
				<br>
				<span>Adresse:  {{comi.id_user.email}}</span>


						</div>
						{% if comi.id_user.type_sp == "revendeur" %}
						<div class="col-lg-6 col-md-6 col-sm-6 information">
							
						<br>
						<span>rc :{{comi.id_user.rc}} </span>
						<br>	
						<br>
						<span>mi :{{comi.id_user.mi}} </span>
						<br>	
						<br>
						<span>lm :{{comi.id_user.li}} </span>
						<br>	
						<br>
						<span>nis :{{comi.id_user.nis}} </span>
						<br>
						
			
					</div>
					{% endif %}





			<div class="col-lg-6 col-md-6 col-sm-6 information">
				
			<br>
			<span>N° du bon de commande : 00{{comi.id}} </span>
			<br>
			<span>Date :{{comi.date_commande}}</span>
			<br>
			<span>Etat :{% if comi.etat_commande == False and comi.etat_archive == False %}Non traité pour l'instant
             {%elif comi.etat_commande == True and comi.etat_archive == False %} En cours de traitement
             {%elif comi.etat_archive == True and comi.annulation_levraison == True %} Annulé
             {%elif comi.etat_archive ==  True and comi.annulation_levraison == False %} Validé
			{%endif%}</span>
		
		</div>
		<!-- hadi ta3b revendeur tekteblou regitre ta33o+++++++++++++++++++++++++++++ -->







			<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++ta33o -->
	</div>
	<div class="row" >
		<div  class="col-lg-12 col-md-12 col-sm-12 infoclient">
			<hr class="col-lg-3 col-md-3 col-sm-3">

			<span>Societé de distribution : {{comi.id_point_vente.first_name}} </span>
			<br>
		
			<span>Adresse du siège : {{comi.id_point_vente.adresse_user}}</span>
			<br>
			<span>Téléphone : {{comi.id_point_vente.telephone_user}}</span>
			<br>
			
			<span>Email : {{comi.id_point_vente.email}}</span>

		
		</div>
	</div>
	{% endfor %}


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom produit</th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix unitaire</th>
      
      <th scope="col">Total HT</th>
      
    </tr>
  </thead>
  <tbody>
  	{% for i in all %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{i.id_produit.nom_produit}}</td>
      <td>{{i.quantite}}</td>
      <td>{{i.id_produit.prix_produit|intcomma}}</td>
      
      <td>{% widthratio i.id_produit.prix_produit 1 i.quantite|intcomma %}</td>
      
    </tr>
    {% endfor %}
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <th scope="row" style="color: red;">Total</th>	
    <td>
    
    	
{{totale|intcomma}}
    
    	

    </td>
    </tr>
    
  </tbody>
</table>
</div>
</body>
</html>
































    <input type="submit" name="" id="hassan" onclick="lyes();" value="Imprimer">

    <script type="text/javascript">
    	function lyes() {
    	document.getElementById('hassan').style.display= 'none';
    	window.print();
    		// body...
    	}
    	
    </script>