
{% extends "admin/admin_page.html" %}
{% load staticfiles%}
{% block content %}
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>


  <div >
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Ajout Blog <small>ajouter un nouveaux blog</small></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    
                    <form method="POST" action="" class="form-horizontal form-label-left" id="register-form" enctype="multipart/form-data">
                      {% csrf_token %}
                                   <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">titre</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="t1" class="form-control" required="required">
                        </div>
                      </div>
                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">description</label>
                     <div class="col-md-9 col-sm-9 col-xs-12">
                          <textarea class="form-control" name="t2" rows="5" ></textarea>
                        </div>
                      
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                
                        <div class="form-group">
                          <br><br>
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Ajouter les Images<span class="required"></span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12" >
                          <input name="image" type="file" required />
                        
                        </div>
                      </div>

                     

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                         <a href="/adminta3na/"> <button type="button" class="btn btn-primary">Cancel</button></a>
                          <button type="reset" class="btn btn-primary">Reset</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>


 {%endblock%}