 
{% extends "admin/admin_page.html" %}
{% load staticfiles%}
{% block content %}


  <div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Ajout un point de vente <small>nouveu point</small></h2>
                    
                    <div class="clearfix"></div>
                  </div>

     <div class="x_content">

                    <form class="form-horizontal form-label-left" novalidate method="POST" action=""> {%csrf_token%}
{% include 'utilisateur/_alerts.html' %}

                      
                      <span class="section">Personal Info</span>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nom de point de vente  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12"  name="name"  required="required" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="email" id="email" name="email" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Telephone <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="tel" id="telephone" name="tlf" required="required" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>




                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Fax <span ></span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="tel" id="telephone" name="fax" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>










                                            <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Telephone portable <span></span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="tel" id="telephone" name="portable" data-validate-length-range="8,20" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>






                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="website">adresse <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="website" name="adresse" required="required"  class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">wilaya<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="select2_single form-control" tabindex="-1" name="wilaya" required>
                            <option></option>
                      <option value="Adrar" >01 Adrar </option>
                              <option value="Chlef"> 02 Chlef </option>
                              <option value="Laghouat"> 03 Laghouat </option>
                              <option value="Oum El Bouaghi">04 Oum El Bouaghi  </option>
                              <option value="Batna">05 Batna</option>
                              <option value="Béjaïa">06 Béjaïa  </option>
                              <option value="Biskra">07 Biskra</option>
                              <option value="Béchar">08 Béchar</option>
                              <option value="Blida">09 Blida</option>
                              <option value="Bouira">10 Bouira  </option>
                              <option value="Tamanrasset">11 Tamanrasset  </option>
                              <option value="Tébessa">12 Tébessa  </option>
                              <option value="Tlemcen">13 Tlemcen</option>
                              <option value="Tiaret">14 Tiaret</option>
                              <option value="Tizi Ouzou">15 Tizi Ouzou  </option>
                              <option value="Alger">16 Alger  </option>
                              <option value="Djelfa">17 Djelfa  </option>
                              <option value="Jijel">18 Jijel  </option>
                              <option value="Sétif">19 Sétif</option>
                              <option value="Saïda">20 Saïda  </option>
                              <option value="Skikda">21 Skikda  </option>
                              <option value="Sidi Bel Abbès">22 Sidi Bel Abbès  </option>
                              <option value="Annaba">23 Annaba  </option>
                              <option value="Guelma">24 Guelma  </option>
                              <option value="Constantine">25 Constantine  </option>
                              <option value="Médéa">26 Médéa  </option>
                              <option value="Mostaganem">27 Mostaganem  </option>
                              <option value="M’Sila">28 M’Sila  </option>
                              <option value="Mascara">29 Mascara  </option>
                              <option value="Ouargla">30 Ouargla</option>
                              <option value="Oran">31 Oran  </option>
                              <option value="El Bayadh">32 El Bayadh</option>
                              <option value="Illizi">33 Illizi</option>
                              <option value="Bordj Bou Arreridj">34 Bordj Bou Arreridj  </option>
                              <option value="Boumerdès">35 Boumerdès</option>
                              <option value="El Tarf">36 El Tarf  </option>
                              <option value="Tindouf">37 Tindouf  </option>
                              <option value="Tissemsilt">38 Tissemsilt  </option>
                              <option value="El Oued">39 El Oued  </option>
                              <option value="Khenchela">40 Khenchela  </option>
                              <option value="Souk Ahras">41 Souk Ahras</option>
                              <option value="Tipaza">42 Tipaza</option>
                              <option value="Mila">43 Mila  </option>
                              <option value="Aïn Defla">44 Aïn Defla  </option>
                              <option value="Naâma">45 Naâma  </option>
                              <option value="Aïn Témouchent">46 Aïn Témouchent  </option>
                              <option value="Ghardaia">47 Ghardaia</option>
                              <option value="Relizane">48 Relizane</option>
                          </select>
                        </div>
                      </div>


                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Username<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12"  name="username"  required="required" type="text">
                        </div>
                      </div>



                      <div class="item form-group">
                        <label for="password" class="control-label col-md-3">Password</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="password" type="password" name="password" data-validate-length="6,8" class="form-control col-md-7 col-xs-12" required="required">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">Repeat Password</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="password2" type="password" name="password2" data-validate-linked="password" class="form-control col-md-7 col-xs-12" required="required">
                        </div>
                      </div>
                      
                      
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <button type="submit" class="btn btn-primary">Cancel</button>
                          <button id="send" type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>



         </div>
              </div>
                <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    
      <script src="{% static 'vendors/validator/validator.js' %}"></script>

 {%endblock%}
