
{% extends "admin/admin_page.html" %}
{% load staticfiles%}
{% block content %}


  <div >
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Modifier qui somme nous <small>modifier les l'introduction de DIDABEN </small></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    
                    <form method="POST" action="" class="form-horizontal form-label-left" id="register-form" enctype="multipart/form-data">
                      {% csrf_token %}
                                   <div class="form-group">
                     
                      </div>
                     
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Ajouter l'image de cataloque<span class="required"></span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12" >
                              <input name="image" type="file" required />
                            
                            </div>
                          </div>
                    
                      <br>

                      
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Ajouter le pdf de cataloque<span class="required"></span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12" >
                          <input name="pdf" type="file" accept="application/pdf,application/vnd.ms-excel" required />
                        
                        </div>
                      </div>




                      <br>
                        <div class="form-group">
                    
                      </div>

                     

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                         <a href="{% url 'admine:home_admin' %}"> <button type="button" class="btn btn-primary">Cancel</button></a>
                          
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>


 {%endblock%}