
{% extends "admin/admin_page.html" %}
{% block content %}


        <!-- page content -->
        <div  role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>TOUS LES COMMANDES</h3>
              </div>

              
            </div>

            <div class="clearfix"></div>

            <div class="row">
             

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
  
               
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                     tous les commandes non traite
                    </p>
                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                      <thead>
                        <tr>
                          
                         <th>etat</th>
                        
                         <th>Nom client</th>
                         <th>point vente</th>
                          <th>num de commande</th>
                          <th>date commande</th>
                          <th>deplacer a</th>
                          <th>action</th>
                          
                         
                        
                        </tr>
                      </thead>


                      <tbody>
                        
{% for com in all %}

<tr>

 
<td>
    {% if com.etat_commande %}
   
    en cour 
    {%else%}
     non traité
    {%endif%}


</td>

  <td>{{com.id_user.username}}</td>
  <td>{{com.id_point_vente.first_name}}</td>
  <td>{{com.id}}</td>
  <td>{{com.date_commande}}</td>

  <form method="POST" action="" >
  <td><select name="pet_select" required>
  {% for vnt in vente %}
  {% if vnt.confirmed %}
  {%if vnt.id == com.id_point_vente.id %}
 {%else%}
    <option value="{{vnt.id}}">{{vnt.first_name}}</option>
     {%endif%}
     {%endif%}
{%endfor%}
</select></td>
  <td>
    



    {% csrf_token %}
  <input type="hidden" name="commid" value="{{com.id}}">

<input type="submit" value="déplacer" class="btn btn-round btn-danger" style="padding:3px;font-size: 12px;">

</form>








  </td>
  

  

</tr>

{% endfor %}

                        
                      </tbody>

                    </table>
                    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

                    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
                  </div>
                  


                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->


{%endblock%}