 
{% extends "admin/admin_page.html" %}
{% load staticfiles%}
{% block content %}
 




 <div role="main">
          <div class="">
            
             
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Editer Photos <small> Images produits</small></h2>
                   


                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div class="row">





{% for pr in all %}

      
      {% for item in pr.imageproduit_set.all %}

                      <div class="col-md-55">
                        <div class="thumbnail">
                          <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="{{MEDIA_URL}}{{item.image.url}}" alt="image" />
                            <div class="mask no-caption">
                              <div class="tools tools-left">
                               
                                <form method="POST" action="">
                                  {%csrf_token%}
                                  <input type="hidden" name="id_img" value="{{item.id}}">
                                  
                                <button class="fa fa-times" style="background: #45454d; border: #45454d;"></button>
                                </form>
                                
                              </div>
                            </div>
                          </div>
                          <div class="caption">
                            <p><strong>{{pr.reference_produit}}</strong>
                            </p>
                            <p>{{pr.nom_produit}}</p>
                          </div>
                        </div>
                      </div>

      {% endfor %}
      

{% endfor %}





                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>





 {%endblock%}
