{% extends "admin/admin_page.html" %}
{% load staticfiles%}
{% block content %}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

<div id="container" style="min-width: 310px; width: 900px; height: 400px; margin: 0 auto"></div>



<script type="text/javascript">
	// Create the chart
Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'statistiques de type de users'
    },
    subtitle: {
        text: 'les types de users les plus fréquentes'
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'nombre totale de users'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
    },

    series: [
        {
            name: "Users",
            colorByPoint: true,
            data: [
                {
                    name: "directeur",
                    y: {{dir}},
                    drilldown: "directeur"
                },
                {
                    name: "enseignant",
                    y: {{enseignant}},
                    drilldown: "enseignant"
                },
                {
                    name: "etudiant",
                    y: {{etudiant}},
                    drilldown: "etudiant"
                },
                {
                    name: "laborantin",
                    y: {{laborantin}},
                    drilldown: "laborantin"
                },
                {
                    name: "intendant",
                    y: {{intendant}},
                    drilldown: "intendant"
                },
                {
                    name: "revendeur",
                    y: {{revendeur}},
                    drilldown: "revendeur"
                },
                {
                    name: "vente",
                    y: {{vent}},
                    drilldown: "vente"
                }
            ]
        }
    ],
   
});
</script>

{%endblock%}